@font-face {
  font-family: 'Lexend Deca';
  src: url("../fonts/LexendDeca-Regular.woff2") format("woff2"), url("../fonts/LexendDeca-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url("../fonts/SpaceMono-Bold.woff2") format("woff2"), url("../fonts/SpaceMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Space Mono';
  src: url("../fonts/SpaceMono-Regular.woff2") format("woff2"), url("../fonts/SpaceMono-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Lexend Deca, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
  margin-top: 96px;
}

a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

@media screen and (max-width: 719px) {
  body {
    margin-top: 64px;
  }
}

.container {
  max-width: 1136px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 1136px) {
  .container {
    max-width: 719px;
  }
}

@media screen and (max-width: 719px) {
  .container {
    max-width: 341px;
  }
}

@-webkit-keyframes open {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 2;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes open {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    z-index: 2;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes close {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes close {
  100% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 3;
  background-color: #fff;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 22px 15px 21px;
}

.header__btn {
  display: none;
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 58px;
}

.header__nav-item {
  margin-right: 15px;
}

.header__nav-link {
  font-family: Space Mono;
  font-weight: bold;
  font-size: 15px;
  line-height: 25px;
  color: #939CAA;
}

.header__nav-link:hover {
  color: #FCB72B;
}

@media screen and (max-width: 719px) {
  .header__container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    text-align: center;
    position: relative;
    padding-bottom: 22px;
  }
  .header__nav {
    display: none;
    position: absolute;
    z-index: -1;
  }
  .header__btn {
    display: block;
    width: 16px;
    height: 13px;
    border: none;
    margin: 0px;
    padding: 0px;
    position: relative;
    background-color: transparent;
    z-index: 4;
    margin-right: auto;
  }
  .header__btn::after,
  .header__btn::before,
  .header__btn-span {
    position: absolute;
    width: 19px;
    height: 3px;
    display: block;
    background-color: #FCB72B;
    content: "";
  }
  .header__btn::after {
    bottom: 0px;
  }
  .header__btn::before {
    top: 0px;
  }
  .header__btn-span {
    top: 5px;
  }
  .header__btn--open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__btn--open .header__btn-span {
    display: none;
  }
  .header__btn--open::before, .header__btn--open::after {
    top: 50%;
  }
  .header__btn--open::after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .header__btn--open::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .header__nav--open {
    -webkit-animation: open .5s linear;
            animation: open .5s linear;
    position: absolute;
    display: block;
    width: 226px;
    height: calc(100vh - 64px);
    background-color: #333A44;
    top: 100%;
    text-align: left;
    left: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 64px;
    z-index: 3;
  }
  .header__nav--open::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333A44;
    top: 0;
    left: -99%;
  }
  .header__nav--open::after {
    content: "";
    width: 200%;
    height: 100%;
    position: absolute;
    background-color: #333A44;
    opacity: 0.8;
    top: 0;
    right: -200%;
    z-index: 4;
  }
  .header__nav--closing {
    -webkit-animation: close .3s linear;
            animation: close .3s linear;
  }
  .header__nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0px;
    margin-left: 0;
  }
  .header__nav-item {
    margin-bottom: 24px;
    margin-right: 0px;
  }
  .header__scootin {
    margin: 0;
    position: fixed;
    width: 192px;
    color: #E5ECF4;
  }
}

.logo {
  margin-right: auto;
}

.logo__img {
  display: block;
}

@media screen and (max-width: 719px) {
  .logo__img {
    width: 75px;
    height: 20px;
  }
}

.scootin {
  padding: 13px 38px;
  background-color: #FCB72B;
  color: #fff;
  border: 1px solid #FCB72B;
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.scootin:hover {
  background: transparent;
  color: #FCB72B;
}

.intro {
  background-image: url(../../img/intro2x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
  .intro {
    background-image: url(../img/intro.png);
  }
}

.intro__container {
  padding-top: 153px;
  padding-bottom: 174px;
}

.intro__content {
  width: 500px;
  position: relative;
}

.intro__content::before {
  content: "";
  display: block;
  position: absolute;
  width: 202px;
  height: 14px;
  background-image: url(../img/intro_before.svg);
  background-position: center;
  background-repeat: no-repeat;
  left: -150px;
  top: 180px;
}

.intro__content::after {
  content: "";
  display: block;
  position: absolute;
  width: 446px;
  height: 147px;
  background-image: url(../img/after.svg);
  background-position: center;
  right: -470px;
  top: 180px;
}

.intro__title {
  font-family: Space Mono;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  margin: 0px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

.intro__discription {
  margin-top: 40px;
  margin-bottom: 62px;
  font-size: 15px;
  line-height: 25px;
  color: #FFFFFF;
  margin-left: 95px;
  width: 360px;
}

.intro__link {
  margin-left: 95px;
}

@media screen and (max-width: 1136px) {
  .intro {
    background-image: url(../img/intro_planshet.png);
    background-size: cover;
    background-position: center;
  }
}

@media only screen and (max-width: 1136px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 1136px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 1136px) and (min-device-pixel-ratio: 2), only screen and (max-width: 1136px) and (min-resolution: 192dpi), only screen and (max-width: 1136px) and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
  .intro {
    background-image: url(../img/intro_planshet2x.png);
  }
}

@media screen and (max-width: 1136px) {
  .intro__container {
    text-align: center;
    padding: 0px;
    padding-top: 137px;
    padding-bottom: 217px;
  }
  .intro__content {
    width: 573px;
    margin: 0 auto;
    text-align: center;
  }
  .intro__content::before {
    display: none;
  }
  .intro__content::after {
    left: -230px;
    top: 270px;
  }
  .intro__title {
    margin: 0;
    width: 573px;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 56px;
    /* or 100% */
    text-align: center;
    letter-spacing: -2.5px;
  }
  .intro__discription {
    margin: 0;
    margin-left: 50px;
    width: 500px;
    margin-top: 24px;
    margin-bottom: 24px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
  }
  .intro__link {
    margin: 0px;
  }
}

@media screen and (max-width: 719px) {
  .intro {
    background-image: url(../img/intro_mob.png);
    background-size: cover;
    overflow: hidden;
  }
}

@media only screen and (max-width: 719px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 719px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 719px) and (min-device-pixel-ratio: 2), only screen and (max-width: 719px) and (min-resolution: 192dpi), only screen and (max-width: 719px) and (min-resolution: 2dppx) {
  .intro {
    background-image: url(../img/intro_mob2x.png);
  }
  /* Retina-specific stuff here */
}

@media screen and (max-width: 719px) {
  .intro__content {
    width: 311px;
  }
  .intro__content::after {
    left: -320px;
    top: 300px;
  }
  .intro__title {
    width: 311px;
    font-size: 40px;
    line-height: 40px;
  }
  .intro__discription {
    margin-left: 0;
    width: 311px;
  }
}

.qollanma__container {
  padding-top: 208px;
}

.qollanma__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
  padding-top: 87px;
}

.qollanma__list::before {
  content: "";
  width: 90%;
  height: 15px;
  background-color: #E5ECF4;
  display: block;
  position: absolute;
  top: 0px;
  left: -200px;
}

.qollanma__item {
  position: relative;
  width: 350px;
  margin-right: 25px;
  margin-bottom: 200px;
}

.qollanma__item:nth-child(3n), .qollanma__item:last-child {
  margin-right: 0;
}

.qollanma__item::before {
  content: "";
  position: absolute;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #FCB72B;
  top: -128px;
  left: 0px;
  background-repeat: no-repeat;
  background-position: center;
}

.qollanma__item--img1::before {
  background-image: url(../../img/phon.svg);
}

.qollanma__item--img2::before {
  background-image: url(../../img/bsusle.svg);
}

.qollanma__item--img3::before {
  background-image: url(../../img/car.svg);
}

.qollanma__title {
  margin: 0;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
}

.qollanma__text {
  color: #939CAA;
  margin-top: 27px;
}

@media screen and (max-width: 1136px) {
  .qollanma__container {
    padding-left: 263px;
    padding-top: 122px;
  }
  .qollanma__list {
    margin: 0px;
    padding: 0px;
    width: 400px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .qollanma__list::before {
    width: 15px;
    height: 512px;
    top: -122px;
    left: -131px;
  }
  .qollanma__item {
    margin: 0;
    width: 100%;
    margin-bottom: 40px;
  }
  .qollanma__item::before {
    left: -171px;
    top: 0px;
  }
}

@media screen and (max-width: 719px) {
  .qollanma__container {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    padding-top: 120px;
  }
  .qollanma__list {
    width: 100%;
  }
  .qollanma__list::before {
    display: none;
  }
  .qollanma__item {
    width: 100%;
    padding-top: 80px;
  }
  .qollanma__item::before {
    width: 56px;
    height: 56px;
    top: 0px;
    left: 150px;
  }
  .qollanma__title {
    width: 311px;
    margin: 0 auto;
  }
  .qollanma__text {
    width: 311px;
    text-align: center;
    margin: 0 auto;
    margin-top: 27px;
  }
  .qollanma__item--img1::before {
    background-image: url(../../img/smal_tel.svg);
  }
  .qollanma__item--img2::before {
    background-image: url(../../img/bsucle_smal.svg);
  }
  .qollanma__item--img3::before {
    background-image: url(../../img/smal_car.svg);
  }
}

.okay {
  width: 100%;
  overflow: hidden;
}

.okay__container--about {
  padding-top: 120px;
}

.okay__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.okay__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 160px;
  position: relative;
}

.okay__item::before {
  content: "";
  width: 445px;
  height: 445px;
  display: block;
  position: absolute;
  background-color: #E5ECF4;
  border-radius: 50%;
}

.okay__item::after {
  content: '';
  display: block;
  position: absolute;
  background-repeat: no-repeat;
}

.okay__item:nth-child(2n-1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.okay__item--juft::before {
  right: calc(100% + 64px);
}

.okay__item--juft::after {
  width: 400px;
  height: 138px;
  background-image: url(../../img/strilka2.svg);
  left: -165px;
  top: 0px;
}

.okay__item--toq::before {
  left: calc(100% + 64px);
}

.okay__item--toq::after {
  width: 740px;
  height: 150px;
  background-image: url(../img/strilka1.svg);
  bottom: 0px;
  right: -160px;
}

.okay__item--toq-about::after {
  background-image: url(../img/strilka_about.svg);
  bottom: 50px;
}

.okay__item--uch::before {
  left: calc(100% + 64px);
}

.okay__item--uch::after {
  width: 715px;
  height: 138px;
  background-image: url(../../img/strilka3.svg);
  right: -520px;
  top: 80px;
}

.okay__content {
  width: 445px;
  text-align: left;
}

.okay__title {
  font-family: Space Mono;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  margin: 0;
  color: #495567;
}

.okay__text {
  color: #939CAA;
  width: 400px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.okay__img {
  border-radius: 50%;
}

@media screen and (max-width: 1136px) {
  .okay__container {
    padding-top: 105px;
  }
  .okay__list {
    width: 100%;
  }
  .okay__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .okay__item:nth-child(2n-1) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .okay__item--toq::before {
    left: 620px;
  }
  .okay__item--toq::after {
    left: -15px;
    top: 300px;
  }
  .okay__item--toq-about::after {
    left: 10px;
    top: 280px;
  }
  .okay__item--juft::before {
    right: 620px;
  }
  .okay__item--juft::after {
    left: -35px;
  }
  .okay__item--uch::before {
    left: 620px;
  }
  .okay__item--uch::after {
    right: -400px;
  }
  .okay__content {
    width: 573px;
    text-align: center;
    margin-top: 56px;
  }
  .okay__title {
    width: 457px;
    padding-top: 56px;
    margin: 0 auto;
  }
  .okay__text {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 40px;
    margin-top: 40px;
  }
  .okay__scootin {
    text-align: center;
  }
}

@media screen and (max-width: 719px) {
  .okay__container {
    text-align: center;
  }
  .okay__img {
    width: 311px;
    height: 311px;
  }
  .okay__item {
    margin-top: 90px;
  }
  .okay__item::before {
    display: none;
  }
  .okay__item--toq::after {
    left: 2px;
    top: 165px;
  }
  .okay__item--juft::after {
    top: 50px;
    left: -120px;
  }
  .okay__content {
    width: 311px;
    text-align: center;
  }
  .okay__title {
    width: 311px;
    font-size: 32px;
  }
  .okay__text {
    width: 311px;
  }
}

.cta {
  margin: 0;
  padding: 0;
  background-image: url(../img/sta.jpg);
  background-position: center;
  background-size: cover contain;
  background-repeat: no-repeat;
}

.cta__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 98px 15px;
}

.cta__title {
  margin: 0;
  width: 415px;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  letter-spacing: -2.14286px;
  color: #FFFFFF;
}

.cta__img {
  border-radius: 4px;
}

.cta__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  margin-top: 40px;
  width: 340px;
}

@media screen and (max-width: 1136px) {
  .cta {
    background-image: url(../img/ctap.jpg);
    background-size: cover;
  }
}

@media only screen and (max-width: 1136px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 1136px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 1136px) and (min-device-pixel-ratio: 2), only screen and (max-width: 1136px) and (min-resolution: 192dpi), only screen and (max-width: 1136px) and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
  .cta {
    background-image: url(../img/stap2x.jpg);
  }
}

@media screen and (max-width: 1136px) {
  .cta__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .cta__title {
    width: 457px;
  }
  .cta__media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
    margin-top: 40px;
    width: 340px;
  }
  .cta__link {
    margin: 0;
  }
}

@media screen and (max-width: 719px) {
  .cta {
    background-image: url(../../img/ctam.jpg);
  }
}

@media only screen and (max-width: 719px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 719px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 719px) and (min-device-pixel-ratio: 2), only screen and (max-width: 719px) and (min-resolution: 192dpi), only screen and (max-width: 719px) and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
  .cta {
    background-image: url(../img/ctam2x.jpg);
  }
}

@media screen and (max-width: 719px) {
  .cta__title {
    width: 311px;
    font-size: 32px;
  }
  .cta__media {
    width: 272px;
  }
  .cta__img {
    width: 130px;
    height: 40px;
  }
}

.footer {
  margin: 0;
  margin: 0;
  background-color: #333A44;
}

.footer__container {
  padding: 35px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__link {
  margin-left: 24px;
}

.footer__link:hover path {
  fill: #E5ECF4;
}

.footer__nav {
  margin-left: 59px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__item {
  margin-right: 32px;
}

.footer__nav-link {
  font-family: Space Mono;
  font-weight: bold;
  color: #939CAA;
}

.footer__nav-link:hover {
  color: #FCB72B;
}

@media screen and (max-width: 719px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
  .footer__logo {
    margin: 0;
    margin-bottom: 24px;
  }
  .footer__social {
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 24px;
  }
  .footer__link {
    margin: 0;
    margin-right: 24px;
  }
  .footer__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 87px;
  }
  .footer__item {
    margin: 0;
    margin-top: 16px;
  }
}

.about-intro {
  background-image: url(../img/abo.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.about-intro::before {
  position: absolute;
  width: 200px;
  height: 63px;
  display: block;
  background-image: url(../img/abooo.svg);
  bottom: 70px;
  right: 0px;
  content: "";
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
  .about-intro {
    background-image: url(../../img/abo2x.png);
  }
}

.about-intro__container {
  padding: 72px 15px;
  position: relative;
}

.about-intro__name {
  margin: 0;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 56px;
  line-height: 56px;
  width: 311px;
  letter-spacing: -2.5px;
  color: #FFFFFF;
}

@media screen and (max-width: 1136px) {
  .about-intro {
    background-image: url(../../img/abop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .about-intro::before {
    display: none;
  }
}

@media only screen and (max-width: 1136px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 1136px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 1136px) and (min-device-pixel-ratio: 2), only screen and (max-width: 1136px) and (min-resolution: 192dpi), only screen and (max-width: 1136px) and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
  .about-intro {
    background-image: url(../../img/abop2x.jpg);
  }
}

@media screen and (max-width: 719px) {
  .about-intro {
    background-image: url(../img/tel_about.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media only screen and (max-width: 719px) and (-webkit-min-device-pixel-ratio: 2), only screen and (max-width: 719px) and (min--moz-device-pixel-ratio: 2), only screen and (max-width: 719px) and (min-device-pixel-ratio: 2), only screen and (max-width: 719px) and (min-resolution: 192dpi), only screen and (max-width: 719px) and (min-resolution: 2dppx) {
  /* Retina-specific stuff here */
  .about-intro {
    background-image: url(../img/tel_about2x.jpg);
  }
}

@media screen and (max-width: 719px) {
  .about-intro__container {
    text-align: center;
  }
}

.values__container {
  padding-bottom: 100px;
  text-align: center;
}

.values__name {
  margin: 0;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.values__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 103px;
}

.values__item {
  width: 350px;
  margin-right: 30px;
  text-align: center;
  position: relative;
  padding-bottom: 20px;
}

.values__item:nth-child(3n), .values__item:last-child {
  margin-right: 0px;
}

.values__circle {
  position: absolute;
  display: block;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  background-color: #FCB72B;
  top: calc(50% - 48px);
  left: calc(50% - 48px);
  background-repeat: no-repeat;
  background-position: center;
  font-family: Space Mono;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  padding-top: 10%;
  text-align: center;
  letter-spacing: -1.07143px;
  color: #495567;
}

.values__title {
  font-family: Space Mono;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: -1.07143px;
  margin: 0;
  color: #495567;
}

.values__text {
  color: #939CAA;
  margin-top: 27px;
}

.values__img {
  margin-bottom: 87px;
}

@media screen and (max-width: 1136px) {
  .values__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .values__item {
    margin: 0;
    width: 457px;
  }
  .values__text {
    width: 457px;
  }
}

@media screen and (max-width: 719px) {
  .values__item {
    width: 311px;
  }
  .values__text {
    width: 311px;
  }
}

@-webkit-keyframes opens {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.3;
    z-index: 2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes opens {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.3;
    z-index: 2;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.faq__container {
  text-align: center;
  padding-bottom: 120px;
}

.faq__name {
  font-family: Space Mono;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
  margin: 0;
}

.faq__title {
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1.78571px;
  color: #495567;
  margin: 0;
}

.faq__list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 64px;
}

.faq__list2 {
  width: 730px;
  margin: 0;
  padding: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.faq__item2 {
  width: 100%;
  padding: 32px 40px;
  background-color: #F2F5F9;
  margin-bottom: 20px;
}

.faq__btn {
  background: transparent;
  text-align: left;
  width: 100%;
  background-image: url(../../img/buttom.svg);
  background-position: right;
  background-repeat: no-repeat;
  font-family: Space Mono;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: -1.07143px;
  color: #495567;
  border: none;
}

.faq__btn--open {
  background-image: url(../../img/top.svg);
}

.faq__text {
  width: 100%;
  color: #495567;
  margin: 0;
  margin-left: 5px;
  margin-top: 15px;
  display: none;
}

.faq__text--open {
  -webkit-animation: opens .5s linear;
          animation: opens .5s linear;
  display: block;
}

@media screen and (max-width: 1136px) {
  .faq__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .faq__list2 {
    width: 100%;
  }
  .faq__title {
    margin-bottom: 32px;
  }
}

@media screen and (max-width: 719px) {
  .faq__title {
    font-size: 24px;
    line-height: 28px;
  }
  .faq__btn {
    padding: 0px 15px 0px 0px;
    width: 100%;
    font-size: 18px;
    line-height: 24px;
  }
  .faq__text {
    font-size: 15px;
    line-height: 25px;
  }
  .faq__item2 {
    padding: 32px 28px;
  }
}
/*# sourceMappingURL=main.css.map */